<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel = "stylesheet" href="{% static 'poll/style.css' %}">
	</head>
	<body>
		<h1>{{ question.question_text }}</h1>
		<ol>
			{% for choice in question.choice_set.all %}
				<li>{{ choice.choice_text }}</li>
			{% endfor %}
		</ol>
		<form action="{% url 'polling_app:vote' question.id %}" method="post">
			{% csrf_token %}
			<fieldset>
				<legend><h3>Ajeet Kr __{{ question.question_text }}</h3></legend>
				{% if err_message %}
					<p><strong>{{ err_message }}</strong></p>
				{% endif %}
				{% for choice in question.choice_set.all %}
					<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
					<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
				{% endfor %}
			</fieldset>
			<input type="submit" value="Vote">
			<hr></hr>
			<a href = "{% url 'polling_app:index' %}">Change Question!!</a>
		</form>
	</body>
</html>